# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build Output
# ==========================
dist/
coverage/

# ==========================
# Environment Files
# ==========================
.env
.env.local

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db